# Logs
logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependencies
node_modules
.pnpm-store

# Build output
dist
dist-ssr
*.local

# Vercel
.vercel

# Env
.env
.env.local
.env.*.local
